name: Deploy Application on Docker

on:
  push:
    branches:
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore dependencies
        run: dotnet restore AspnetCoreMvcFull/AspnetCoreMvcFull.csproj
      - name: Build
        run: dotnet build AspnetCoreMvcFull/AspnetCoreMvcFull.csproj --no-restore
      - name: Publish
        run: dotnet publish AspnetCoreMvcFull/AspnetCoreMvcFull.csproj --configuration Release --output ./publish
      
